<div style="align-self:center">
    
    Category:<input type="text" ng-model="txtCategory"><br>
    Sub-Category:<input type="text" ng-model="txtSubCategory"><br>
    Product Name:<input type="text" ng-model="txtProductName"><br>
    Product Rating:<input type="text" ng-model="txtProductRating"><br>
    Product Review:<input type="text" ng-model="txtProductReview"><br>
    <br>
    <button ng-click="postReview(txtCategory,txtSubCategory,txtProductName,txtProductRating,txtProductReview)">Post your review</button>
    <br>
    <br>
    {{responseData}}
    <br>
</div>