<br>
This is the main/default page.

<!--// custom directive named whatdirective examples //-->
  <!--// The what element is using the default restriction of EA Element and Attribute //-->

  <!--// what directive used as an Element //-->
  <whatdirective></whatdirective>

  <!--// what directive used as an Attribute //-->
  <p whatdirective></p>


<!--// custom directive named howdirective examples //-->
  <!--// The how element is allowing for all possible uses, Element,Attribute,Class,Comment //-->

  <!--// how directive used as an Element //-->
  <howdirective></howdirective>

  <!--// how directive used as an Attribute //-->
  <p howdirective></p>

  <!--// how directive used as a Class //-->
  <p class="howdirective"></p>

  <!--// how directive used as a Comment //-->
  <!-- directive: howdirective -->


<!--// custom directive named whydirective examples //-->
  <!--// The why element is restricted to only be used as an Element //-->

  <!--// why directive used as an Element //-->
  <whydirective></whydirective>
